USE [master]
GO
/****** Object:  Database [PayrollManagementSystem]    Script Date: 12/3/2022 3:51:49 PM ******/
CREATE DATABASE [PayrollManagementSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PayrollManagementSystem_Data2', FILENAME = N'D:\DataSQL\PayrollManagementSystem2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PayrollManagementSystem_Log2', FILENAME = N'D:\DataSQL\PayrollManagementSystem2.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PayrollManagementSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PayrollManagementSystem]
GO
/****** Object:  UserDefinedFunction [dbo].[GENERATE_EMPLOYEE_OFFICE_ID]    Script Date: 12/3/2022 3:51:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GENERATE_EMPLOYEE_OFFICE_ID]()
	RETURNS CHAR(9)
AS BEGIN
	DECLARE @ID CHAR(9), @ID_INT INT
	SET @ID_INT = (SELECT (CAST(MAX(RIGHT(MANHANVIEN, 5)) AS INT) + 1) FROM NhanVienHanhChinh)
	IF @ID_INT < 10
		SET @ID = 'NVHC0000' + CONVERT(CHAR(1), @ID_INT)
	ELSE IF @ID_INT < 100
		SET @ID = 'NVHC000' + CONVERT(CHAR(2), @ID_INT)
	ELSE IF @ID_INT < 1000
		SET @ID = 'NVHC00' + CONVERT(CHAR(3), @ID_INT)
	ELSE IF @ID_INT < 10000
		SET @ID = 'NVHC0' + CONVERT(CHAR(4), @ID_INT)
	ELSE
		SET @ID = 'NVHC' + CONVERT(CHAR(5), @ID_INT)
	RETURN @ID
END
GO
/****** Object:  UserDefinedFunction [dbo].[GENERATE_WORKER_ID]    Script Date: 12/3/2022 3:51:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GENERATE_WORKER_ID]()
	RETURNS CHAR(9)
AS BEGIN
	DECLARE @ID CHAR(9), @ID_INT INT
	SET @ID_INT = (SELECT (CAST(MAX(RIGHT(MANHANVIEN, 5)) AS INT) + 1) FROM NhanVienSanXuat)
	IF @ID_INT < 10
		SET @ID = 'NVSX0000' + CONVERT(CHAR(1), @ID_INT)
	ELSE IF @ID_INT < 100
		SET @ID = 'NVSX000' + CONVERT(CHAR(2), @ID_INT)
	ELSE IF @ID_INT < 1000
		SET @ID = 'NVSX00' + CONVERT(CHAR(3), @ID_INT)
	ELSE IF @ID_INT < 10000
		SET @ID = 'NVSX0' + CONVERT(CHAR(4), @ID_INT)
	ELSE
		SET @ID = 'NVSX' + CONVERT(CHAR(5), @ID_INT)
	RETURN @ID
END
GO
/****** Object:  Table [dbo].[ChamCongHanhChinh]    Script Date: 12/3/2022 3:51:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChamCongHanhChinh](
	[MaNhanVien] [char](9) NOT NULL,
	[NgayChamCong] [date] NOT NULL,
	[CheckInSang] [time](0) NULL,
	[CheckOutSang] [time](0) NULL,
	[CheckInChieu] [time](0) NULL,
	[CheckOutChieu] [time](0) NULL,
 CONSTRAINT [PK_ChamCongHanhChinh_1] PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC,
	[NgayChamCong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChamCongSanXuat]    Script Date: 12/3/2022 3:51:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChamCongSanXuat](
	[MaChamCong] [int] IDENTITY(1,1) NOT NULL,
	[NgayChamCong] [date] NOT NULL,
	[SoLuongThanhPham] [int] NOT NULL,
	[MaPhanCong] [int] NOT NULL,
 CONSTRAINT [PK_ChamCongSanXuat] PRIMARY KEY CLUSTERED 
(
	[MaChamCong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HopDongSanXuat]    Script Date: 12/3/2022 3:51:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HopDongSanXuat](
	[MaHopDong] [int] IDENTITY(1,1) NOT NULL,
	[SoLuongSanXuat] [int] NOT NULL,
	[SoLuongHoanThanh] [int] NOT NULL,
	[TinhTrang] [nvarchar](50) NOT NULL,
	[MaSanPham] [char](5) NOT NULL,
	[ThoiGian] [date] NOT NULL,
 CONSTRAINT [PK_ChiTietSanXuat] PRIMARY KEY CLUSTERED 
(
	[MaHopDong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVienHanhChinh]    Script Date: 12/3/2022 3:51:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVienHanhChinh](
	[MaNhanVien] [char](9) NOT NULL,
	[TenNhanVien] [nvarchar](50) NOT NULL,
	[GioiTinh] [bit] NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[DiaChi] [nvarchar](100) NOT NULL,
	[SDT] [char](10) NOT NULL,
	[TenNganHang] [varchar](50) NOT NULL,
	[SoTaiKhoan] [char](14) NOT NULL,
	[TenNguoiThuHuong] [nchar](50) NOT NULL,
	[LuongTheoChucDanh] [float] NOT NULL,
	[ChucVu] [nvarchar](50) NOT NULL,
	[MaPhongBan] [char](4) NOT NULL,
 CONSTRAINT [PK_NhanVienHanhChinh] PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVienSanXuat]    Script Date: 12/3/2022 3:51:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVienSanXuat](
	[MaNhanVien] [char](9) NOT NULL,
	[TenNhanVien] [nvarchar](50) NOT NULL,
	[GioiTinh] [bit] NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[DiaChi] [nvarchar](100) NOT NULL,
	[SDT] [char](10) NOT NULL,
	[TenNganHang] [char](10) NOT NULL,
	[SoTaiKhoan] [char](14) NOT NULL,
	[TenNguoiThuHuong] [nchar](50) NOT NULL,
	[ChuyenMon] [nvarchar](50) NOT NULL,
	[MaTo] [char](6) NOT NULL,
	[ChucVu] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_NhanVienSanXuat] PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanCong]    Script Date: 12/3/2022 3:51:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanCong](
	[MaPhanCong] [int] IDENTITY(1,1) NOT NULL,
	[MaQuyTrinh] [char](7) NOT NULL,
	[MaNhanVien] [char](9) NOT NULL,
	[NgayThamGia] [date] NOT NULL,
	[MaHopDong] [int] NOT NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[MaPhanCong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanXuong]    Script Date: 12/3/2022 3:51:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanXuong](
	[MaPhanXuong] [char](4) NOT NULL,
	[TenPhanXuong] [nvarchar](50) NOT NULL,
	[MaQuanDoc] [char](9) NULL,
 CONSTRAINT [PK_PhanXuong] PRIMARY KEY CLUSTERED 
(
	[MaPhanXuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhongBan]    Script Date: 12/3/2022 3:51:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhongBan](
	[MaPhongBan] [char](4) NOT NULL,
	[TenPhongBan] [nvarchar](50) NOT NULL,
	[MaTruongPhong] [char](9) NULL,
 CONSTRAINT [PK_PhongBan] PRIMARY KEY CLUSTERED 
(
	[MaPhongBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuyTrinh]    Script Date: 12/3/2022 3:51:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuyTrinh](
	[MaQuyTrinh] [char](7) NOT NULL,
	[TenQuyTrinh] [nvarchar](50) NOT NULL,
	[GiaQuyTrinh] [float] NOT NULL,
	[MaSanPham] [char](5) NOT NULL,
	[ThuTuSanXuat] [int] NOT NULL,
 CONSTRAINT [PK_QuyTrinh] PRIMARY KEY CLUSTERED 
(
	[MaQuyTrinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 12/3/2022 3:51:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSanPham] [char](5) NOT NULL,
	[TenSanPham] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 12/3/2022 3:51:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[TenDangNhap] [char](9) NOT NULL,
	[MatKhau] [char](44) NOT NULL,
	[GiaTriSalt] [char](30) NULL,
	[MaNVSX] [char](9) NULL,
	[MaNVHC] [char](9) NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ToSanXuat]    Script Date: 12/3/2022 3:51:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ToSanXuat](
	[MaTo] [char](6) NOT NULL,
	[TenTo] [nvarchar](50) NOT NULL,
	[MaToTruong] [char](9) NULL,
	[MaPhanXuong] [char](4) NULL,
 CONSTRAINT [PK_ToSanXuat] PRIMARY KEY CLUSTERED 
(
	[MaTo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VIEW_CHAMCONGHANHCHINH]    Script Date: 12/3/2022 3:51:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VIEW_CHAMCONGHANHCHINH] AS
SELECT NhanVien = CCHC.MaNhanVien + ' - ' + NVHC.TenNhanVien
      ,NgayChamCong
      ,CheckInSang
      ,CheckOutSang
      ,CheckInChieu
      ,CheckOutChieu
FROM ChamCongHanhChinh AS CCHC INNER JOIN NhanVienHanhChinh AS NVHC ON CCHC.MaNhanVien = NVHC.MaNhanVien
GO
/****** Object:  View [dbo].[VIEW_CHAMCONGSX]    Script Date: 12/3/2022 3:51:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VIEW_CHAMCONGSX] AS
SELECT        PC.MaNhanVien + ' - ' + NVSX.TenNhanVien AS NhanVien, SP.MaSanPham + ' - ' + SP.TenSanPham AS SanPham, PC.MaQuyTrinh + ' - ' + QT.TenQuyTrinh AS QuyTrinh, PC.NgayThamGia, CCSX.NgayChamCong, 
                         CCSX.SoLuongThanhPham, CCSX.MaChamCong
FROM            PhanCong AS PC INNER JOIN
                         NhanVienSanXuat AS NVSX ON PC.MaNhanVien = NVSX.MaNhanVien INNER JOIN
                         QuyTrinh AS QT ON PC.MaQuyTrinh = QT.MaQuyTrinh INNER JOIN
                         SanPham AS SP ON QT.MaSanPham = SP.MaSanPham INNER JOIN
                         ChamCongSanXuat AS CCSX ON PC.MaPhanCong = CCSX.MaPhanCong
WHERE YEAR(CCSX.NgayChamCong) = YEAR(GETDATE()) AND MONTH(CCSX.NgayChamCong) = MONTH(GETDATE())
GO
/****** Object:  View [dbo].[VIEW_PHANCONG]    Script Date: 12/3/2022 3:51:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VIEW_PHANCONG] AS
SELECT        PC.MaPhanCong, PC.MaNhanVien + ' - ' + NVSX.TenNhanVien AS NhanVien, SP.MaSanPham + ' - ' + SP.TenSanPham AS SanPham, PC.MaQuyTrinh + ' - ' + QT.TenQuyTrinh AS QuyTrinh, PC.NgayThamGia, PC.MaHopDong, 
                         HopDongSanXuat.SoLuongSanXuat, HopDongSanXuat.SoLuongSanXuat - HopDongSanXuat.SoLuongHoanThanh AS SoLuongCanHoanThanh
FROM            PhanCong AS PC INNER JOIN
                         NhanVienSanXuat AS NVSX ON PC.MaNhanVien = NVSX.MaNhanVien INNER JOIN
                         QuyTrinh AS QT ON PC.MaQuyTrinh = QT.MaQuyTrinh INNER JOIN
                         SanPham AS SP ON QT.MaSanPham = SP.MaSanPham INNER JOIN
                         HopDongSanXuat ON PC.MaHopDong = HopDongSanXuat.MaHopDong AND SP.MaSanPham = HopDongSanXuat.MaSanPham
WHERE        (PC.NgayThamGia =
                             (SELECT        MAX(NgayThamGia) AS Expr1
                               FROM            PhanCong
                               WHERE        (PC.MaNhanVien = MaNhanVien)))
GO
INSERT [dbo].[ChamCongHanhChinh] ([MaNhanVien], [NgayChamCong], [CheckInSang], [CheckOutSang], [CheckInChieu], [CheckOutChieu]) VALUES (N'NVHC00081', CAST(N'2022-10-30' AS Date), CAST(N'08:00:00' AS Time), CAST(N'12:00:00' AS Time), CAST(N'13:30:00' AS Time), CAST(N'17:30:00' AS Time))
INSERT [dbo].[ChamCongHanhChinh] ([MaNhanVien], [NgayChamCong], [CheckInSang], [CheckOutSang], [CheckInChieu], [CheckOutChieu]) VALUES (N'NVHC00081', CAST(N'2022-11-29' AS Date), CAST(N'08:00:00' AS Time), CAST(N'12:00:00' AS Time), CAST(N'13:30:00' AS Time), CAST(N'17:30:00' AS Time))
INSERT [dbo].[ChamCongHanhChinh] ([MaNhanVien], [NgayChamCong], [CheckInSang], [CheckOutSang], [CheckInChieu], [CheckOutChieu]) VALUES (N'NVHC00081', CAST(N'2022-11-30' AS Date), CAST(N'08:00:00' AS Time), CAST(N'12:00:00' AS Time), CAST(N'13:30:00' AS Time), CAST(N'17:30:00' AS Time))
GO
SET IDENTITY_INSERT [dbo].[ChamCongSanXuat] ON 

INSERT [dbo].[ChamCongSanXuat] ([MaChamCong], [NgayChamCong], [SoLuongThanhPham], [MaPhanCong]) VALUES (4, CAST(N'2022-12-03' AS Date), 100, 3)
INSERT [dbo].[ChamCongSanXuat] ([MaChamCong], [NgayChamCong], [SoLuongThanhPham], [MaPhanCong]) VALUES (5, CAST(N'2022-12-03' AS Date), 100, 4)
INSERT [dbo].[ChamCongSanXuat] ([MaChamCong], [NgayChamCong], [SoLuongThanhPham], [MaPhanCong]) VALUES (6, CAST(N'2022-12-03' AS Date), 100, 5)
SET IDENTITY_INSERT [dbo].[ChamCongSanXuat] OFF
GO
SET IDENTITY_INSERT [dbo].[HopDongSanXuat] ON 

INSERT [dbo].[HopDongSanXuat] ([MaHopDong], [SoLuongSanXuat], [SoLuongHoanThanh], [TinhTrang], [MaSanPham], [ThoiGian]) VALUES (1, 1000, 90, N'Sản Xuất', N'NH140', CAST(N'2022-11-20' AS Date))
INSERT [dbo].[HopDongSanXuat] ([MaHopDong], [SoLuongSanXuat], [SoLuongHoanThanh], [TinhTrang], [MaSanPham], [ThoiGian]) VALUES (2, 3000, 0, N'Ngưng Sản Xuất', N'IZ753', CAST(N'2022-01-01' AS Date))
SET IDENTITY_INSERT [dbo].[HopDongSanXuat] OFF
GO
INSERT [dbo].[NhanVienHanhChinh] ([MaNhanVien], [TenNhanVien], [GioiTinh], [NgaySinh], [DiaChi], [SDT], [TenNganHang], [SoTaiKhoan], [TenNguoiThuHuong], [LuongTheoChucDanh], [ChucVu], [MaPhongBan]) VALUES (N'NVHC00081', N'Lê Văn Lượng', 1, CAST(N'1998-04-12' AS Date), N'Phường Phú Thuận, Quận 7, Hồ Chí Minh', N'0365896541', N'BIDV      ', N'56019317676476', N'Lê Văn Lượng                                      ', 30000000, N'Trưởng Phòng', N'PB01')
INSERT [dbo].[NhanVienHanhChinh] ([MaNhanVien], [TenNhanVien], [GioiTinh], [NgaySinh], [DiaChi], [SDT], [TenNganHang], [SoTaiKhoan], [TenNguoiThuHuong], [LuongTheoChucDanh], [ChucVu], [MaPhongBan]) VALUES (N'NVHC00082', N'Lê Thanh Sĩ', 1, CAST(N'1999-03-22' AS Date), N'Phường Tân Phong, Quận 7, Hồ Chí Minh', N'0354897256', N'BIDV      ', N'58016062879331', N'Lê Thanh Sĩ                                       ', 20000000, N'Nhân Viên', N'PB01')
INSERT [dbo].[NhanVienHanhChinh] ([MaNhanVien], [TenNhanVien], [GioiTinh], [NgaySinh], [DiaChi], [SDT], [TenNganHang], [SoTaiKhoan], [TenNguoiThuHuong], [LuongTheoChucDanh], [ChucVu], [MaPhongBan]) VALUES (N'NVHC00083', N'Trần Văn Công', 1, CAST(N'1998-05-12' AS Date), N'Phường 04, Quận Gò Vấp, Hồ Chí Minh', N'0354897257', N'BIDV      ', N'56101945058830', N'Trần Văn Công                                     ', 12000000, N'Nhân Viên', N'PB01')
GO
INSERT [dbo].[NhanVienSanXuat] ([MaNhanVien], [TenNhanVien], [GioiTinh], [NgaySinh], [DiaChi], [SDT], [TenNganHang], [SoTaiKhoan], [TenNguoiThuHuong], [ChuyenMon], [MaTo], [ChucVu]) VALUES (N'NVSX00001', N'Bùi Công Minh', 1, CAST(N'1994-03-10' AS Date), N'Phường 10, Quận Phú Nhuận, Hồ Chí Minh', N'0924608193', N'BIDV      ', N'68356963500294', N'Bùi Công Minh                                     ', N'May cúc áo thun', N'PX0101', N'Quản Đốc')
INSERT [dbo].[NhanVienSanXuat] ([MaNhanVien], [TenNhanVien], [GioiTinh], [NgaySinh], [DiaChi], [SDT], [TenNganHang], [SoTaiKhoan], [TenNguoiThuHuong], [ChuyenMon], [MaTo], [ChucVu]) VALUES (N'NVSX00002', N'Nguyễn Thanh Tâm', 1, CAST(N'1995-10-10' AS Date), N'Phường 04, Quận 4, Hồ Chí Minh', N'0962342550', N'BIDV      ', N'44922475691771', N'Nguyễn Thanh Tâm                                  ', N'May cúc áo thun', N'PX0101', N'Tổ Trưởng')
INSERT [dbo].[NhanVienSanXuat] ([MaNhanVien], [TenNhanVien], [GioiTinh], [NgaySinh], [DiaChi], [SDT], [TenNganHang], [SoTaiKhoan], [TenNguoiThuHuong], [ChuyenMon], [MaTo], [ChucVu]) VALUES (N'NVSX00003', N'Trần Thanh Công', 1, CAST(N'1999-10-06' AS Date), N'Phường Tam Bình, Quận Thủ Đức, Hồ Chí Minh', N'0834082001', N'BIDV      ', N'86524286628365', N'Trần Thanh Công                                   ', N'May cúc áo thun', N'PX0101', N'Tổ Trưởng')
GO
SET IDENTITY_INSERT [dbo].[PhanCong] ON 

INSERT [dbo].[PhanCong] ([MaPhanCong], [MaQuyTrinh], [MaNhanVien], [NgayThamGia], [MaHopDong]) VALUES (3, N'NH14001', N'NVSX00080', CAST(N'2022-12-03' AS Date), 1)
INSERT [dbo].[PhanCong] ([MaPhanCong], [MaQuyTrinh], [MaNhanVien], [NgayThamGia], [MaHopDong]) VALUES (4, N'NH14002', N'NVSX00079', CAST(N'2022-12-03' AS Date), 1)
INSERT [dbo].[PhanCong] ([MaPhanCong], [MaQuyTrinh], [MaNhanVien], [NgayThamGia], [MaHopDong]) VALUES (5, N'NH14003', N'NVSX00078', CAST(N'2022-12-03' AS Date), 1)
SET IDENTITY_INSERT [dbo].[PhanCong] OFF
GO
INSERT [dbo].[PhanXuong] ([MaPhanXuong], [TenPhanXuong], [MaQuanDoc]) VALUES (N'PX01', N'Phân xưởng may áo thun', N'NVSX00001')
INSERT [dbo].[PhanXuong] ([MaPhanXuong], [TenPhanXuong], [MaQuanDoc]) VALUES (N'PX02', N'Phân xưởng may áo khoác', N'NVSX00006')
INSERT [dbo].[PhanXuong] ([MaPhanXuong], [TenPhanXuong], [MaQuanDoc]) VALUES (N'PX03', N'Phân xưởng may áo sơ mi', N'NVSX00011')
GO
INSERT [dbo].[PhongBan] ([MaPhongBan], [TenPhongBan], [MaTruongPhong]) VALUES (N'PB01', N'Phòng nhân sự', N'NVHC00081')
INSERT [dbo].[PhongBan] ([MaPhongBan], [TenPhongBan], [MaTruongPhong]) VALUES (N'PB02', N'Phòng tài chính kế toán', N'NVHC00085')
INSERT [dbo].[PhongBan] ([MaPhongBan], [TenPhongBan], [MaTruongPhong]) VALUES (N'PB03', N'Phòng hành chính', N'NVHC00089')
GO
INSERT [dbo].[QuyTrinh] ([MaQuyTrinh], [TenQuyTrinh], [GiaQuyTrinh], [MaSanPham], [ThuTuSanXuat]) VALUES (N'IZ75301', N'Cắt vải', 400, N'IZ753', 1)
INSERT [dbo].[QuyTrinh] ([MaQuyTrinh], [TenQuyTrinh], [GiaQuyTrinh], [MaSanPham], [ThuTuSanXuat]) VALUES (N'IZ75302', N'Gia công thân', 700, N'IZ753', 2)
INSERT [dbo].[QuyTrinh] ([MaQuyTrinh], [TenQuyTrinh], [GiaQuyTrinh], [MaSanPham], [ThuTuSanXuat]) VALUES (N'IZ75303', N'Gia công tay áo', 500, N'IZ753', 3)
GO
INSERT [dbo].[SanPham] ([MaSanPham], [TenSanPham]) VALUES (N'BF327', N'Áo thun giữ nhiệt')
INSERT [dbo].[SanPham] ([MaSanPham], [TenSanPham]) VALUES (N'BL588', N'Áo khoác nam')
INSERT [dbo].[SanPham] ([MaSanPham], [TenSanPham]) VALUES (N'BR044', N'Áo thun nữ')
GO
INSERT [dbo].[TaiKhoan] ([TenDangNhap], [MatKhau], [GiaTriSalt], [MaNVSX], [MaNVHC]) VALUES (N'NVHC00081', N'DOcr0ReFI71nDyKTyrVeEAywTdZnGfLd0gzPI/ic7l0=', N'ldj9ds892ha9dl8dos9sf442aadw8o', NULL, N'NVHC00081')
INSERT [dbo].[TaiKhoan] ([TenDangNhap], [MatKhau], [GiaTriSalt], [MaNVSX], [MaNVHC]) VALUES (N'NVHC00082', N'DOcr0ReFI71nDyKTyrVeEAywTdZnGfLd0gzPI/ic7l0=', N'ldj9ds892ha9dl8dos9sf442aadw8o', NULL, N'NVHC00082')
INSERT [dbo].[TaiKhoan] ([TenDangNhap], [MatKhau], [GiaTriSalt], [MaNVSX], [MaNVHC]) VALUES (N'NVHC00083', N'DOcr0ReFI71nDyKTyrVeEAywTdZnGfLd0gzPI/ic7l0=', N'ldj9ds892ha9dl8dos9sf442aadw8o', NULL, N'NVHC00083')
GO
INSERT [dbo].[ToSanXuat] ([MaTo], [TenTo], [MaToTruong], [MaPhanXuong]) VALUES (N'PX0101', N'Tổ may cúc áo thun', N'NVSX00002', N'PX01')
INSERT [dbo].[ToSanXuat] ([MaTo], [TenTo], [MaToTruong], [MaPhanXuong]) VALUES (N'PX0102', N'Tổ may cổ áo thun', N'NVSX00003', N'PX01')
INSERT [dbo].[ToSanXuat] ([MaTo], [TenTo], [MaToTruong], [MaPhanXuong]) VALUES (N'PX0103', N'Tổ may tay áo thun', N'NVSX00004', N'PX01')
GO
ALTER TABLE [dbo].[HopDongSanXuat] ADD  CONSTRAINT [DF_HopDongSanXuat_SoLuongHoanThanh]  DEFAULT ((0)) FOR [SoLuongHoanThanh]
GO
ALTER TABLE [dbo].[NhanVienHanhChinh] ADD  CONSTRAINT [DF_NhanVienHanhChinh_MaNhanVien]  DEFAULT ([DBO].[GENERATE_EMPLOYEE_OFFICE_ID]()) FOR [MaNhanVien]
GO
ALTER TABLE [dbo].[NhanVienSanXuat] ADD  CONSTRAINT [DF_NhanVienSanXuat_MaNhanVien]  DEFAULT ([DBO].[GENERATE_WORKER_ID]()) FOR [MaNhanVien]
GO
ALTER TABLE [dbo].[NhanVienSanXuat] ADD  CONSTRAINT [DF_NhanVienSanXuat_ChucVu]  DEFAULT (N'Công Nhân') FOR [ChucVu]
GO
ALTER TABLE [dbo].[ChamCongHanhChinh]  WITH CHECK ADD  CONSTRAINT [FK_ChamCongHanhChinh_NhanVienHanhChinh] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVienHanhChinh] ([MaNhanVien])
GO
ALTER TABLE [dbo].[ChamCongHanhChinh] CHECK CONSTRAINT [FK_ChamCongHanhChinh_NhanVienHanhChinh]
GO
ALTER TABLE [dbo].[ChamCongSanXuat]  WITH CHECK ADD  CONSTRAINT [FK_ChamCongSanXuat_PhanCong] FOREIGN KEY([MaPhanCong])
REFERENCES [dbo].[PhanCong] ([MaPhanCong])
GO
ALTER TABLE [dbo].[ChamCongSanXuat] CHECK CONSTRAINT [FK_ChamCongSanXuat_PhanCong]
GO
ALTER TABLE [dbo].[HopDongSanXuat]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietSanXuat_SanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[HopDongSanXuat] CHECK CONSTRAINT [FK_ChiTietSanXuat_SanPham]
GO
ALTER TABLE [dbo].[NhanVienSanXuat]  WITH CHECK ADD  CONSTRAINT [FK_NhanVienSanXuat_ToSanXuat] FOREIGN KEY([MaTo])
REFERENCES [dbo].[ToSanXuat] ([MaTo])
GO
ALTER TABLE [dbo].[NhanVienSanXuat] CHECK CONSTRAINT [FK_NhanVienSanXuat_ToSanXuat]
GO
ALTER TABLE [dbo].[PhanCong]  WITH CHECK ADD  CONSTRAINT [FK_PhanCong_ChiTietSanXuat] FOREIGN KEY([MaHopDong])
REFERENCES [dbo].[HopDongSanXuat] ([MaHopDong])
GO
ALTER TABLE [dbo].[PhanCong] CHECK CONSTRAINT [FK_PhanCong_ChiTietSanXuat]
GO
ALTER TABLE [dbo].[PhanCong]  WITH CHECK ADD  CONSTRAINT [FK_PhanCong_NhanVienSanXuat] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVienSanXuat] ([MaNhanVien])
GO
ALTER TABLE [dbo].[PhanCong] CHECK CONSTRAINT [FK_PhanCong_NhanVienSanXuat]
GO
ALTER TABLE [dbo].[PhanCong]  WITH CHECK ADD  CONSTRAINT [FK_PhanCong_QuyTrinh] FOREIGN KEY([MaQuyTrinh])
REFERENCES [dbo].[QuyTrinh] ([MaQuyTrinh])
GO
ALTER TABLE [dbo].[PhanCong] CHECK CONSTRAINT [FK_PhanCong_QuyTrinh]
GO
ALTER TABLE [dbo].[PhongBan]  WITH CHECK ADD  CONSTRAINT [FK_PhongBan_NhanVienHanhChinh] FOREIGN KEY([MaTruongPhong])
REFERENCES [dbo].[NhanVienHanhChinh] ([MaNhanVien])
GO
ALTER TABLE [dbo].[PhongBan] CHECK CONSTRAINT [FK_PhongBan_NhanVienHanhChinh]
GO
ALTER TABLE [dbo].[QuyTrinh]  WITH CHECK ADD  CONSTRAINT [FK_QuyTrinh_SanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[QuyTrinh] CHECK CONSTRAINT [FK_QuyTrinh_SanPham]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_NhanVienHanhChinh] FOREIGN KEY([MaNVHC])
REFERENCES [dbo].[NhanVienHanhChinh] ([MaNhanVien])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_NhanVienHanhChinh]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_NhanVienSanXuat] FOREIGN KEY([MaNVSX])
REFERENCES [dbo].[NhanVienSanXuat] ([MaNhanVien])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_NhanVienSanXuat]
GO
ALTER TABLE [dbo].[ToSanXuat]  WITH CHECK ADD  CONSTRAINT [FK_ToSanXuat_PhanXuong] FOREIGN KEY([MaPhanXuong])
REFERENCES [dbo].[PhanXuong] ([MaPhanXuong])
GO
ALTER TABLE [dbo].[ToSanXuat] CHECK CONSTRAINT [FK_ToSanXuat_PhanXuong]
GO
/****** Object:  Trigger [dbo].[TRIGGER_DELETE_NVHC]    Script Date: 12/3/2022 3:51:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRIGGER_DELETE_NVHC] ON [dbo].[NhanVienHanhChinh] INSTEAD OF DELETE AS
BEGIN
	DECLARE @MaNhanVien CHAR(9), @MaPhongBan CHAR(4)
	SELECT @MaNhanVien = MaNhanVien, @MaPhongBan = MaPhongBan FROM DELETED
	IF EXISTS (SELECT * FROM PhongBan WHERE @MaNhanVien = MaTruongPhong) BEGIN
		UPDATE PhongBan SET MaTruongPhong = NULL WHERE MaPhongBan = @MaPhongBan
	END
	DELETE NhanVienHanhChinh WHERE MaNhanVien = @MaNhanVien
END
GO
ALTER TABLE [dbo].[NhanVienHanhChinh] ENABLE TRIGGER [TRIGGER_DELETE_NVHC]
GO
/****** Object:  Trigger [dbo].[TRIGGER_INSERT_NVHC]    Script Date: 12/3/2022 3:51:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRIGGER_INSERT_NVHC] ON [dbo].[NhanVienHanhChinh] INSTEAD OF INSERT AS
BEGIN
	DECLARE @MaNhanVien CHAR(9), @TenNhanVien NVARCHAR(50), @GioiTinh BIT, @NgaySinh DATE, @DiaChi NVARCHAR(100), @SDT CHAR(10), @TenNganHang CHAR(10), @SoTaiKhoan CHAR(20), @TenNguoiThuHuong NCHAR(50), @LuongTheoChucDanh FLOAT, @ChucVu NVARCHAR(50), @MaPhongBan CHAR(4)
	SELECT @TenNhanVien = TenNhanVien, @GioiTinh = GioiTinh, @NgaySinh = NgaySinh, @DiaChi = DiaChi, @SDT = SDT, @TenNganHang = TenNganHang, @SoTaiKhoan = SoTaiKhoan, @TenNguoiThuHuong = TenNguoiThuHuong, @LuongTheoChucDanh = LuongTheoChucDanh, @ChucVu = ChucVu, @MaPhongBan = MaPhongBan, @MaNhanVien = MaNhanVien FROM INSERTED
	IF @ChucVu LIKE N'Trưởng Phòng' BEGIN
		IF (SELECT MATRUONGPHONG FROM PhongBan WHERE @MaPhongBan = MaPhongBan) IS NOT NULL BEGIN
			DECLARE @MATRUONGPHONG CHAR(9)
			SELECT @MATRUONGPHONG = MATRUONGPHONG FROM PhongBan WHERE MaPhongBan = @MaPhongBan
			UPDATE NhanVienHanhChinh SET ChucVu = N'Nhân Viên' WHERE MaNhanVien = @MATRUONGPHONG 
		END
	END
	INSERT [dbo].[NhanVienHanhChinh] (MaNhanVien, [TenNhanVien], [GioiTinh], [NgaySinh], [DiaChi], [SDT], [TenNganHang], [SoTaiKhoan], [TenNguoiThuHuong], [LuongTheoChucDanh], [ChucVu], [MaPhongBan]) VALUES (@MaNhanVien, @TenNhanVien, @GioiTinh, @NgaySinh, @DiaChi, @SDT, @TenNganHang, @SoTaiKhoan, @TenNguoiThuHuong, @LuongTheoChucDanh, @ChucVu, @MaPhongBan)
	IF @ChucVu LIKE N'Trưởng Phòng' BEGIN
		UPDATE PhongBan SET MaTruongPhong = @MaNhanVien WHERE MaPhongBan = @MaPhongBan
	END
END
GO
ALTER TABLE [dbo].[NhanVienHanhChinh] ENABLE TRIGGER [TRIGGER_INSERT_NVHC]
GO
/****** Object:  Trigger [dbo].[TRIGGER_UPDATE_NVHC]    Script Date: 12/3/2022 3:51:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRIGGER_UPDATE_NVHC] ON [dbo].[NhanVienHanhChinh] INSTEAD OF UPDATE AS
BEGIN
	DECLARE @MaNhanVien CHAR(9), @TenNhanVien NVARCHAR(50), @GioiTinh BIT, @NgaySinh DATE, @DiaChi NVARCHAR(100), @SDT CHAR(10), @TenNganHang CHAR(10), @SoTaiKhoan CHAR(20), @TenNguoiThuHuong NCHAR(50), @LuongTheoChucDanh FLOAT, @ChucVu NVARCHAR(50), @MaPhongBan CHAR(4)
	DECLARE @ChucVu2 NVARCHAR(50), @MaPhongBan2 CHAR(4)
	SELECT @TenNhanVien = TenNhanVien, @GioiTinh = GioiTinh, @NgaySinh = NgaySinh, @DiaChi = DiaChi, @SDT = SDT, @TenNganHang = TenNganHang, @SoTaiKhoan = SoTaiKhoan, @TenNguoiThuHuong = TenNguoiThuHuong, @LuongTheoChucDanh = LuongTheoChucDanh, @ChucVu = ChucVu, @MaPhongBan = MaPhongBan, @MaNhanVien = MaNhanVien FROM INSERTED
	SELECT @ChucVu2 = ChucVu, @MaPhongBan2 = MaPhongBan FROM DELETED
	IF @MaPhongBan = @MaPhongBan2 BEGIN
		IF @ChucVu != @ChucVu2 BEGIN
			IF @ChucVu2 = N'Trưởng Phòng' AND @ChucVu = N'Nhân Viên' BEGIN
				UPDATE PhongBan SET MaTruongPhong = NULL WHERE MaPhongBan = @MaPhongBan
			END
			ELSE BEGIN
				UPDATE PhongBan SET MaTruongPhong = @MaNhanVien WHERE MaPhongBan = @MaPhongBan
			END
		END
	END
	ELSE BEGIN
		IF @ChucVu = @ChucVu2 BEGIN
			IF @ChucVu = N'Trưởng Phòng' BEGIN
				UPDATE PhongBan SET MaTruongPhong = NULL WHERE MaPhongBan = @MaPhongBan2
				UPDATE PhongBan SET MaTruongPhong = @MaNhanVien WHERE MaPhongBan = @MaPhongBan
			END
		END
		ELSE BEGIN
			IF @ChucVu = N'Trưởng Phòng' BEGIN
				UPDATE PhongBan SET MaTruongPhong = @MaNhanVien WHERE MaPhongBan = @MaPhongBan
			END
			ELSE BEGIN
				UPDATE PhongBan SET MaTruongPhong = NULL WHERE MaPhongBan = @MaPhongBan2
			END
		END
	END
	UPDATE NhanVienHanhChinh SET TenNhanVien = @TenNhanVien, GioiTinh = @GioiTinh, NgaySinh = @NgaySinh, DiaChi = @DiaChi, SDT = @SDT, TenNganHang = @TenNganHang, SoTaiKhoan = @SoTaiKhoan, TenNguoiThuHuong = @TenNguoiThuHuong, LuongTheoChucDanh = @LuongTheoChucDanh, ChucVu = @ChucVu, MaPhongBan = @MaPhongBan WHERE MaNhanVien = @MaNhanVien
END
GO
ALTER TABLE [dbo].[NhanVienHanhChinh] ENABLE TRIGGER [TRIGGER_UPDATE_NVHC]
GO
/****** Object:  Trigger [dbo].[TRIGGER_DELETE_NVSX]    Script Date: 12/3/2022 3:51:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRIGGER_DELETE_NVSX] ON [dbo].[NhanVienSanXuat] INSTEAD OF DELETE AS
BEGIN
	DECLARE @MaNhanVien CHAR(9), @MaTo CHAR(6), @MaPhanXuong CHAR(4), @ChucVu NVARCHAR(50)
	SELECT @MaNhanVien = MaNhanVien, @MaTo = MaTo, @ChucVu = ChucVu FROM DELETED
	IF @ChucVu = N'Tổ Trưởng' BEGIN
		UPDATE ToSanXuat SET MaToTruong = NULL WHERE MaTo = @MaTo
		DELETE NhanVienSanXuat WHERE MaNhanVien = @MaNhanVien
	END
	IF @ChucVu = N'Quản Đốc' BEGIN
		SELECT @MaPhanXuong = MaPhanXuong FROM ToSanXuat WHERE MaTo = @MaTo
		UPDATE PhanXuong SET MaQuanDoc = NULL WHERE MaPhanXuong = @MaPhanXuong
		DELETE NhanVienSanXuat WHERE MaNhanVien = @MaNhanVien
	END
END
GO
ALTER TABLE [dbo].[NhanVienSanXuat] ENABLE TRIGGER [TRIGGER_DELETE_NVSX]
GO
/****** Object:  Trigger [dbo].[TRIGGER_INSERT_NVSX]    Script Date: 12/3/2022 3:51:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRIGGER_INSERT_NVSX] ON [dbo].[NhanVienSanXuat] AFTER INSERT AS
BEGIN
	DECLARE @CHUCVU NVARCHAR(50), @MATRUONGPHONG CHAR(9), @TO CHAR(6), @MANHANVIEN CHAR(9)
	SELECT @CHUCVU = CHUCVU, @TO = MaTo, @MANHANVIEN = MaNhanVien FROM inserted
	IF @CHUCVU = N'Quản Đốc' BEGIN
		DECLARE @MAXUONG CHAR(4)
		SELECT @MAXUONG = MAPHANXUONG FROM ToSanXuat WHERE MaTo = @TO
		IF (SELECT MAQUANDOC FROM PhanXuong WHERE MaPhanXuong = @MAXUONG) IS NOT NULL BEGIN
			ROLLBACK
		END
		ELSE BEGIN
			UPDATE PhanXuong SET MAQUANDOC = @MANHANVIEN WHERE MaPhanXuong = @MAXUONG
		END
	END
	IF @CHUCVU = N'Tổ Trưởng' BEGIN
		IF (SELECT MATOTRUONG FROM ToSanXuat WHERE MaTo = @TO) IS NOT NULL BEGIN
			ROLLBACK
		END
		ELSE BEGIN
			UPDATE ToSanXuat SET MATOTRUONG = @MANHANVIEN WHERE MaTo = @TO
		END
	END
END
GO
ALTER TABLE [dbo].[NhanVienSanXuat] ENABLE TRIGGER [TRIGGER_INSERT_NVSX]
GO
/****** Object:  Trigger [dbo].[TRIGGER_UPDATE_NVSX]    Script Date: 12/3/2022 3:51:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRIGGER_UPDATE_NVSX] ON [dbo].[NhanVienSanXuat] AFTER UPDATE AS
BEGIN
	DECLARE @MaNhanVien_Moi CHAR(9), @MaTo_Moi CHAR(6), @MaPhanXuong_Moi CHAR(4), @ChucVu_Moi NVARCHAR(50), @ChucVu_Cu NVARCHAR(50), @MaTo_Cu CHAR(6), @MaPhanXuong_Cu CHAR(4)
	SELECT @MaNhanVien_Moi = MaNhanVien, @MaTo_Moi = MaTo, @ChucVu_Moi = ChucVu FROM INSERTED
	SELECT @MaPhanXuong_Moi = MaPhanXuong FROM ToSanXuat WHERE MaTo = @MaTo_Moi
	SELECT @MaTo_Cu = MaTo, @ChucVu_Cu = ChucVu FROM DELETED
	SELECT @MaPhanXuong_Cu = MaPhanXuong FROM ToSanXuat WHERE MaTo = @MaTo_Cu
	IF @MaTo_Moi = @MaTo_Cu BEGIN
		IF @ChucVu_Cu = N'Quản Đốc' BEGIN
			IF @ChucVu_Moi = N'Tổ Trưởng' BEGIN
				IF (SELECT MaToTruong FROM ToSanXuat WHERE MaTo = @MaTo_Moi) IS NOT NULL BEGIN
					ROLLBACK
				END
				ELSE BEGIN
					UPDATE PhanXuong SET MaQuanDoc = NULL WHERE MaPhanXuong = @MaPhanXuong_Cu
					UPDATE ToSanXuat SET MaToTruong = @MaNhanVien_Moi WHERE MaTo = @MaTo_Moi
				END
			END
			IF @ChucVu_Moi = N'Công Nhân' BEGIN
				UPDATE PhanXuong SET MaQuanDoc = NULL WHERE MaPhanXuong = @MaPhanXuong_Cu
			END
		END
		ELSE IF @ChucVu_Cu = N'Tổ Trưởng' BEGIN
			IF @ChucVu_Moi = N'Quản Đốc' BEGIN
				IF (SELECT MaQuanDoc FROM PhanXuong WHERE MaPhanXuong = @MaPhanXuong_Moi) IS NOT NULL BEGIN
					ROLLBACK
				END
				ELSE BEGIN
					UPDATE PhanXuong SET MaQuanDoc = @MaNhanVien_Moi WHERE MaPhanXuong = @MaPhanXuong_Moi
					UPDATE ToSanXuat SET MaToTruong = NULL WHERE MaTo = @MaTo_Cu
				END
			END
			IF @ChucVu_Moi = N'Công Nhân' BEGIN
				UPDATE ToSanXuat SET MaToTruong = NULL WHERE MaTo = @MaTo_Cu
			END
		END
		ELSE BEGIN
			IF @ChucVu_Moi = N'Quản Đốc' BEGIN
				IF (SELECT MaQuanDoc FROM PhanXuong WHERE MaPhanXuong = @MaPhanXuong_Moi) IS NOT NULL BEGIN
					ROLLBACK
				END
				ELSE BEGIN
					UPDATE PhanXuong SET MaQuanDoc = @MaNhanVien_Moi WHERE MaPhanXuong = @MaPhanXuong_Moi
				END
			END
			IF @ChucVu_Moi = N'Tổ Trưởng' BEGIN
				IF (SELECT MaToTruong FROM ToSanXuat WHERE MaTo = @MaTo_Moi) IS NOT NULL BEGIN
					ROLLBACK
				END
				ELSE BEGIN
					UPDATE ToSanXuat SET MaToTruong = @MaNhanVien_Moi WHERE MaTo = @MaTo_Moi
				END
			END
		END
	END
	ELSE BEGIN
		IF @ChucVu_Cu = N'Quản Đốc' BEGIN
			IF @ChucVu_Moi = N'Quản Đốc' BEGIN
				IF (SELECT MaQuanDoc FROM PhanXuong WHERE MaPhanXuong = @MaPhanXuong_Moi) IS NOT NULL BEGIN
					ROLLBACK
				END
				ELSE BEGIN
					UPDATE PhanXuong SET MaQuanDoc = NULL WHERE MaPhanXuong = @MaPhanXuong_Cu
					UPDATE PhanXuong SET MaQuanDoc = @MaNhanVien_Moi WHERE MaPhanXuong = @MaPhanXuong_Moi
				END
			END
			ELSE IF @ChucVu_Moi = N'Tổ Trưởng' BEGIN
				IF (SELECT MaToTruong FROM ToSanXuat WHERE MaTo = @MaTo_Moi) IS NOT NULL BEGIN
					ROLLBACK
				END
				ELSE BEGIN
					UPDATE PhanXuong SET MaQuanDoc = NULL WHERE MaPhanXuong = @MaPhanXuong_Cu
					UPDATE ToSanXuat SET MaToTruong = @MaNhanVien_Moi WHERE MaTo = @MaTo_Moi
				END
			END
			ELSE BEGIN
				UPDATE PhanXuong SET MaQuanDoc = NULL WHERE MaPhanXuong = @MaPhanXuong_Cu
			END
		END
		ELSE IF @ChucVu_Cu = N'Tổ Trưởng' BEGIN
			IF @ChucVu_Moi = N'Quản Đốc' BEGIN
				IF (SELECT MaQuanDoc FROM PhanXuong WHERE MaPhanXuong = @MaPhanXuong_Moi) IS NOT NULL BEGIN
					ROLLBACK
				END
				ELSE BEGIN
					UPDATE PhanXuong SET MaQuanDoc = @MaNhanVien_Moi WHERE MaPhanXuong = @MaPhanXuong_Moi
					UPDATE ToSanXuat SET MaToTruong = NULL WHERE MaTo = @MaTo_Cu
				END
			END
			ELSE IF @ChucVu_Moi = N'Tổ Trưởng' BEGIN
				IF (SELECT MaToTruong FROM ToSanXuat WHERE MaTo = @MaTo_Moi) IS NOT NULL BEGIN
					ROLLBACK
				END
				ELSE BEGIN
					UPDATE ToSanXuat SET MaToTruong = NULL WHERE MaTo = @MaTo_Cu
					UPDATE ToSanXuat SET MaToTruong = @MaNhanVien_Moi WHERE MaTo = @MaTo_Moi
				END
			END
			ELSE BEGIN
				UPDATE ToSanXuat SET MaToTruong = NULL WHERE MaTo = @MaTo_Cu
			END
		END
		ELSE BEGIN
			IF @ChucVu_Moi = N'Quản Đốc' BEGIN
				IF (SELECT MaQuanDoc FROM PhanXuong WHERE MaPhanXuong = @MaPhanXuong_Moi) IS NOT NULL BEGIN
					ROLLBACK
				END
				ELSE BEGIN
					UPDATE PhanXuong SET MaQuanDoc = @MaNhanVien_Moi WHERE MaPhanXuong = @MaPhanXuong_Moi
				END
			END
			IF @ChucVu_Moi = N'Tổ Trưởng' BEGIN
				IF (SELECT MaToTruong FROM ToSanXuat WHERE MaTo = @MaTo_Moi) IS NOT NULL BEGIN
					ROLLBACK
				END
				ELSE BEGIN
					UPDATE ToSanXuat SET MaToTruong = @MaNhanVien_Moi WHERE MaTo = @MaTo_Moi
				END
			END
		END
	END
END
GO
ALTER TABLE [dbo].[NhanVienSanXuat] ENABLE TRIGGER [TRIGGER_UPDATE_NVSX]
GO
USE [master]
GO
