USE [master]
GO
/****** Object:  Database [PayrollManagementSystem]    Script Date: 10/24/2022 10:40:36 PM ******/
CREATE DATABASE [PayrollManagementSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PayrollManagementSystem_Data', FILENAME = N'D:\DataSQL\PayrollManagementSystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PayrollManagementSystem_Log', FILENAME = N'D:\DataSQL\PayrollManagementSystem.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PayrollManagementSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PayrollManagementSystem]
GO
/****** Object:  Table [dbo].[ChamCongHanhChinh]    Script Date: 10/24/2022 10:40:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChamCongHanhChinh](
	[MaChamCong] [char](10) NOT NULL,
	[NgayChamCong] [date] NULL,
	[CheckInSang] [datetime] NULL,
	[CheckOutSang] [datetime] NULL,
	[CheckInChieu] [datetime] NULL,
	[CheckOutChieu] [datetime] NULL,
	[MaNhanVien] [char](7) NULL,
 CONSTRAINT [PK_ChamCongHanhChinh] PRIMARY KEY CLUSTERED 
(
	[MaChamCong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChamCongSanXuat]    Script Date: 10/24/2022 10:40:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChamCongSanXuat](
	[MaChamCong] [char](10) NOT NULL,
	[NgayChamCong] [date] NOT NULL,
	[SoLuongThanhPham] [int] NOT NULL,
	[MaPhanCong] [char](10) NULL,
 CONSTRAINT [PK_ChamCongSanXuat] PRIMARY KEY CLUSTERED 
(
	[MaChamCong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhenThuongKyLuat]    Script Date: 10/24/2022 10:40:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhenThuongKyLuat](
	[MaKT_KL] [char](10) NOT NULL,
	[LyDo] [nvarchar](100) NOT NULL,
	[NgayApDung] [date] NOT NULL,
	[SoTien] [float] NOT NULL,
	[MaNVSX] [char](7) NULL,
	[MaNVHC] [char](7) NULL,
 CONSTRAINT [PK_KhenThuongKyLuat] PRIMARY KEY CLUSTERED 
(
	[MaKT_KL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NghiPhep]    Script Date: 10/24/2022 10:40:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NghiPhep](
	[MaNghiPhep] [nchar](10) NOT NULL,
	[NgayNghi] [date] NOT NULL,
	[NghiDen] [date] NOT NULL,
	[LyDo] [nvarchar](100) NOT NULL,
	[HuongLuong] [float] NOT NULL,
	[MaNhanVien] [char](7) NOT NULL,
 CONSTRAINT [PK_NghiPhep] PRIMARY KEY CLUSTERED 
(
	[MaNghiPhep] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVienHanhChinh]    Script Date: 10/24/2022 10:40:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVienHanhChinh](
	[MaNhanVien] [char](7) NOT NULL,
	[TenNhanVien] [nvarchar](50) NOT NULL,
	[GioiTinh] [bit] NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[DiaChi] [nvarchar](100) NOT NULL,
	[SDT] [char](10) NOT NULL,
	[TenNganHang] [char](10) NULL,
	[SoTaiKhoan] [char](20) NULL,
	[TenNguoiThuHuong] [nchar](50) NULL,
	[LuongTheoChucDanh] [float] NOT NULL,
	[ChucVu] [nvarchar](50) NOT NULL,
	[MaPhongBan] [char](4) NOT NULL,
 CONSTRAINT [PK_NhanVienHanhChinh] PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVienSanXuat]    Script Date: 10/24/2022 10:40:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVienSanXuat](
	[MaNhanVien] [char](7) NOT NULL,
	[TenNhanVien] [nvarchar](50) NOT NULL,
	[GioiTinh] [bit] NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[DiaChi] [nvarchar](100) NOT NULL,
	[SDT] [char](10) NOT NULL,
	[TenNganHang] [char](10) NULL,
	[SoTaiKhoan] [char](20) NULL,
	[TenNguoiThuHuong] [nchar](50) NULL,
	[ChuyenMon] [nvarchar](50) NOT NULL,
	[MaTo] [char](6) NOT NULL,
 CONSTRAINT [PK_NhanVienSanXuat] PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanCong]    Script Date: 10/24/2022 10:40:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanCong](
	[MaPhanCong] [char](10) NOT NULL,
	[MaQuyTrinh] [char](7) NULL,
	[MaNhanVien] [char](7) NOT NULL,
	[NgayThamGia] [date] NOT NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[MaPhanCong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanXuong]    Script Date: 10/24/2022 10:40:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanXuong](
	[MaPhanXuong] [char](4) NOT NULL,
	[TenPhanXuong] [nvarchar](50) NOT NULL,
	[MaQuanDoc] [char](7) NULL,
 CONSTRAINT [PK_PhanXuong] PRIMARY KEY CLUSTERED 
(
	[MaPhanXuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhongBan]    Script Date: 10/24/2022 10:40:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhongBan](
	[MaPhongBan] [char](4) NOT NULL,
	[TenPhongBan] [nvarchar](50) NOT NULL,
	[MaTruongPhong] [char](7) NULL,
 CONSTRAINT [PK_PhongBan] PRIMARY KEY CLUSTERED 
(
	[MaPhongBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuyTrinh]    Script Date: 10/24/2022 10:40:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuyTrinh](
	[MaQuyTrinh] [char](7) NOT NULL,
	[TenQuyTrinh] [nvarchar](50) NOT NULL,
	[GiaQuyTrinh] [float] NOT NULL,
	[MaSanPham] [char](5) NULL,
	[ThuTuSanXuat] [int] NULL,
 CONSTRAINT [PK_QuyTrinh] PRIMARY KEY CLUSTERED 
(
	[MaQuyTrinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 10/24/2022 10:40:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSanPham] [char](5) NOT NULL,
	[TenSanPham] [nvarchar](50) NOT NULL,
	[SoLuongSanXuat] [int] NOT NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 10/24/2022 10:40:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[TenDangNhap] [char](7) NOT NULL,
	[MatKhau] [char](12) NOT NULL,
	[MaNVSX] [char](7) NULL,
	[MaNVHC] [char](7) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ToSanXuat]    Script Date: 10/24/2022 10:40:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ToSanXuat](
	[MaTo] [char](6) NOT NULL,
	[TenTo] [nvarchar](50) NOT NULL,
	[MaToTruong] [char](7) NULL,
	[MaPhanXuong] [char](4) NULL,
 CONSTRAINT [PK_ToSanXuat] PRIMARY KEY CLUSTERED 
(
	[MaTo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChamCongHanhChinh] ([MaChamCong], [NgayChamCong], [CheckInSang], [CheckOutSang], [CheckInChieu], [CheckOutChieu], [MaNhanVien]) VALUES (N'CCHC001   ', CAST(N'2022-07-23' AS Date), CAST(N'2022-07-23T07:00:00.000' AS DateTime), CAST(N'2022-07-23T11:00:00.000' AS DateTime), CAST(N'2022-07-23T13:00:00.000' AS DateTime), CAST(N'2022-07-23T17:30:00.000' AS DateTime), N'NV00084')
INSERT [dbo].[ChamCongHanhChinh] ([MaChamCong], [NgayChamCong], [CheckInSang], [CheckOutSang], [CheckInChieu], [CheckOutChieu], [MaNhanVien]) VALUES (N'CCHC002   ', CAST(N'2022-08-15' AS Date), CAST(N'2022-08-15T07:15:56.000' AS DateTime), CAST(N'2022-08-15T11:10:52.000' AS DateTime), CAST(N'2022-08-15T13:00:23.000' AS DateTime), CAST(N'2022-08-15T17:31:23.000' AS DateTime), N'NV00083')
INSERT [dbo].[ChamCongHanhChinh] ([MaChamCong], [NgayChamCong], [CheckInSang], [CheckOutSang], [CheckInChieu], [CheckOutChieu], [MaNhanVien]) VALUES (N'CCHC003   ', CAST(N'2022-08-28' AS Date), CAST(N'2022-08-28T07:05:23.000' AS DateTime), CAST(N'2022-08-28T11:06:45.000' AS DateTime), CAST(N'2022-08-28T13:00:23.000' AS DateTime), CAST(N'2022-08-28T17:34:23.000' AS DateTime), N'NV00089')
GO
INSERT [dbo].[ChamCongSanXuat] ([MaChamCong], [NgayChamCong], [SoLuongThanhPham], [MaPhanCong]) VALUES (N'CCSX001   ', CAST(N'2022-07-20' AS Date), 200, NULL)
INSERT [dbo].[ChamCongSanXuat] ([MaChamCong], [NgayChamCong], [SoLuongThanhPham], [MaPhanCong]) VALUES (N'CCSX002   ', CAST(N'2022-08-12' AS Date), 250, NULL)
INSERT [dbo].[ChamCongSanXuat] ([MaChamCong], [NgayChamCong], [SoLuongThanhPham], [MaPhanCong]) VALUES (N'CCSX003   ', CAST(N'2022-08-23' AS Date), 300, NULL)
GO
INSERT [dbo].[KhenThuongKyLuat] ([MaKT_KL], [LyDo], [NgayApDung], [SoTien], [MaNVSX], [MaNVHC]) VALUES (N'KTKL001   ', N'Làm việc tăng ca', CAST(N'2022-08-22' AS Date), 500000, N'NV00001', NULL)
INSERT [dbo].[KhenThuongKyLuat] ([MaKT_KL], [LyDo], [NgayApDung], [SoTien], [MaNVSX], [MaNVHC]) VALUES (N'KTKL002   ', N'Làm việc không đạt chỉ tiêu', CAST(N'2022-08-28' AS Date), -200000, N'NV00023', NULL)
INSERT [dbo].[KhenThuongKyLuat] ([MaKT_KL], [LyDo], [NgayApDung], [SoTien], [MaNVSX], [MaNVHC]) VALUES (N'KTKL003   ', N'Làm việc vượt chỉ tiêu', CAST(N'2022-08-29' AS Date), 200000, N'NV00014', NULL)
GO
INSERT [dbo].[NghiPhep] ([MaNghiPhep], [NgayNghi], [NghiDen], [LyDo], [HuongLuong], [MaNhanVien]) VALUES (N'NP001     ', CAST(N'2022-05-15' AS Date), CAST(N'2022-05-20' AS Date), N'Nhập viện vì tăng ca quá nhiều', 1300000, N'NV00082')
INSERT [dbo].[NghiPhep] ([MaNghiPhep], [NgayNghi], [NghiDen], [LyDo], [HuongLuong], [MaNhanVien]) VALUES (N'NP002     ', CAST(N'2022-06-16' AS Date), CAST(N'2022-06-18' AS Date), N'Công việc gia đình', 0, N'NV00087')
INSERT [dbo].[NghiPhep] ([MaNghiPhep], [NgayNghi], [NghiDen], [LyDo], [HuongLuong], [MaNhanVien]) VALUES (N'NP003     ', CAST(N'2022-07-17' AS Date), CAST(N'2022-07-19' AS Date), N'Đi khám bệnh', 0, N'NV00091')
GO
INSERT [dbo].[NhanVienHanhChinh] ([MaNhanVien], [TenNhanVien], [GioiTinh], [NgaySinh], [DiaChi], [SDT], [TenNganHang], [SoTaiKhoan], [TenNguoiThuHuong], [LuongTheoChucDanh], [ChucVu], [MaPhongBan]) VALUES (N'NV00081', N'Lê Văn Lượng', 1, CAST(N'1998-04-12' AS Date), N'Lý Thường Kiệt Gò Vấp', N'0365896541', N'Agribank  ', N'012305062010        ', N'Lê Văn Lượng                                      ', 30000000, N'Trưởng Phòng', N'PB01')
INSERT [dbo].[NhanVienHanhChinh] ([MaNhanVien], [TenNhanVien], [GioiTinh], [NgaySinh], [DiaChi], [SDT], [TenNganHang], [SoTaiKhoan], [TenNguoiThuHuong], [LuongTheoChucDanh], [ChucVu], [MaPhongBan]) VALUES (N'NV00082', N'Lê Thanh Sĩ', 1, CAST(N'1999-03-22' AS Date), N'Lê Đức Thọ Gò Vấp', N'0354897256', N'Agribank  ', N'012305459010        ', N'Lê Thanh Sĩ                                       ', 20000000, N'Nhân Viên', N'PB01')
INSERT [dbo].[NhanVienHanhChinh] ([MaNhanVien], [TenNhanVien], [GioiTinh], [NgaySinh], [DiaChi], [SDT], [TenNganHang], [SoTaiKhoan], [TenNguoiThuHuong], [LuongTheoChucDanh], [ChucVu], [MaPhongBan]) VALUES (N'NV00083', N'Trần Văn Công', 1, CAST(N'1998-05-12' AS Date), N'Lê Đức Thọ Gò Vấp', N'354897257 ', N'Agribank  ', N'012305459010        ', N'Trần Văn Công                                     ', 12000000, N'Nhân Viên', N'PB01')
GO
INSERT [dbo].[NhanVienSanXuat] ([MaNhanVien], [TenNhanVien], [GioiTinh], [NgaySinh], [DiaChi], [SDT], [TenNganHang], [SoTaiKhoan], [TenNguoiThuHuong], [ChuyenMon], [MaTo]) VALUES (N'NV00001', N'Bùi Công Minh', 1, CAST(N'1994-03-10' AS Date), N'18 Lê Đức Thọ P6 Quận Gò Vấp', N'924608193 ', N'Agribank  ', N'4901234567890       ', N'Bùi Công Minh                                     ', N'May cúc áo thun', N'PX0101')
INSERT [dbo].[NhanVienSanXuat] ([MaNhanVien], [TenNhanVien], [GioiTinh], [NgaySinh], [DiaChi], [SDT], [TenNganHang], [SoTaiKhoan], [TenNguoiThuHuong], [ChuyenMon], [MaTo]) VALUES (N'NV00002', N'Nguyễn Thanh Tâm', 1, CAST(N'1995-10-10' AS Date), N'29 Lê Văn Thọ P6 Quận Gò Vấp', N'962342550 ', N'Agribank  ', N'12305061997         ', N'Nguyễn Thanh Tâm                                  ', N'May cúc áo thun', N'PX0101')
INSERT [dbo].[NhanVienSanXuat] ([MaNhanVien], [TenNhanVien], [GioiTinh], [NgaySinh], [DiaChi], [SDT], [TenNganHang], [SoTaiKhoan], [TenNguoiThuHuong], [ChuyenMon], [MaTo]) VALUES (N'NV00003', N'Trần Thanh Công', 1, CAST(N'1999-10-06' AS Date), N'Cầu Giấy, Hà Nội', N'834082001 ', N'Agribank  ', N'12305061998         ', N'Trần Thanh Công                                   ', N'May cúc áo thun', N'PX0101')
GO
INSERT [dbo].[PhanXuong] ([MaPhanXuong], [TenPhanXuong], [MaQuanDoc]) VALUES (N'PX01', N'Phân xưởng may áo thun', N'NV00001')
INSERT [dbo].[PhanXuong] ([MaPhanXuong], [TenPhanXuong], [MaQuanDoc]) VALUES (N'PX02', N'Phân xưởng may áo khoác', N'NV00006')
INSERT [dbo].[PhanXuong] ([MaPhanXuong], [TenPhanXuong], [MaQuanDoc]) VALUES (N'PX03', N'Phân xưởng may áo sơ mi', N'NV00011')
GO
INSERT [dbo].[PhongBan] ([MaPhongBan], [TenPhongBan], [MaTruongPhong]) VALUES (N'PB01', N'Phòng nhân sự', N'NV00081')
INSERT [dbo].[PhongBan] ([MaPhongBan], [TenPhongBan], [MaTruongPhong]) VALUES (N'PB02', N'Phòng tài chính kế toán', N'NV00085')
INSERT [dbo].[PhongBan] ([MaPhongBan], [TenPhongBan], [MaTruongPhong]) VALUES (N'PB03', N'Phòng hành chính', N'NV00089')
GO
INSERT [dbo].[QuyTrinh] ([MaQuyTrinh], [TenQuyTrinh], [GiaQuyTrinh], [MaSanPham], [ThuTuSanXuat]) VALUES (N'AN00401', N'May cúc áo thun Anime', 20000, N'AN004', 1)
INSERT [dbo].[QuyTrinh] ([MaQuyTrinh], [TenQuyTrinh], [GiaQuyTrinh], [MaSanPham], [ThuTuSanXuat]) VALUES (N'AN00402', N'May cổ áo thun Anime', 25000, N'AN004', 2)
INSERT [dbo].[QuyTrinh] ([MaQuyTrinh], [TenQuyTrinh], [GiaQuyTrinh], [MaSanPham], [ThuTuSanXuat]) VALUES (N'AN00403', N'May tay áo thun Anime', 30000, N'AN004', 3)
GO
INSERT [dbo].[SanPham] ([MaSanPham], [TenSanPham], [SoLuongSanXuat]) VALUES (N'AN004', N'Áo thun Anime', 5000)
INSERT [dbo].[SanPham] ([MaSanPham], [TenSanPham], [SoLuongSanXuat]) VALUES (N'CG003', N'Áo thun co giãn', 2000)
INSERT [dbo].[SanPham] ([MaSanPham], [TenSanPham], [SoLuongSanXuat]) VALUES (N'FS002', N'Áo thun Fashion', 3500)
GO
INSERT [dbo].[TaiKhoan] ([TenDangNhap], [MatKhau], [MaNVSX], [MaNVHC]) VALUES (N'NV00001', N'1111        ', N'NV00001', NULL)
INSERT [dbo].[TaiKhoan] ([TenDangNhap], [MatKhau], [MaNVSX], [MaNVHC]) VALUES (N'NV00002', N'1111        ', N'NV00002', NULL)
INSERT [dbo].[TaiKhoan] ([TenDangNhap], [MatKhau], [MaNVSX], [MaNVHC]) VALUES (N'NV00003', N'1111        ', N'NV00003', NULL)
GO
INSERT [dbo].[ToSanXuat] ([MaTo], [TenTo], [MaToTruong], [MaPhanXuong]) VALUES (N'PX0101', N'Tổ may cúc áo thun', N'NV00002', N'PX01')
INSERT [dbo].[ToSanXuat] ([MaTo], [TenTo], [MaToTruong], [MaPhanXuong]) VALUES (N'PX0102', N'Tổ may cổ áo thun', N'NV00003', N'PX01')
INSERT [dbo].[ToSanXuat] ([MaTo], [TenTo], [MaToTruong], [MaPhanXuong]) VALUES (N'PX0103', N'Tổ may tay áo thun', N'NV00004', N'PX01')
GO
ALTER TABLE [dbo].[ChamCongHanhChinh]  WITH CHECK ADD  CONSTRAINT [FK_ChamCongHanhChinh_NhanVienHanhChinh] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVienHanhChinh] ([MaNhanVien])
GO
ALTER TABLE [dbo].[ChamCongHanhChinh] CHECK CONSTRAINT [FK_ChamCongHanhChinh_NhanVienHanhChinh]
GO
ALTER TABLE [dbo].[ChamCongSanXuat]  WITH CHECK ADD  CONSTRAINT [FK_ChamCongSanXuat_PhanCong] FOREIGN KEY([MaPhanCong])
REFERENCES [dbo].[PhanCong] ([MaPhanCong])
GO
ALTER TABLE [dbo].[ChamCongSanXuat] CHECK CONSTRAINT [FK_ChamCongSanXuat_PhanCong]
GO
ALTER TABLE [dbo].[KhenThuongKyLuat]  WITH CHECK ADD  CONSTRAINT [FK_KhenThuongKyLuat_NhanVienHanhChinh] FOREIGN KEY([MaNVHC])
REFERENCES [dbo].[NhanVienHanhChinh] ([MaNhanVien])
GO
ALTER TABLE [dbo].[KhenThuongKyLuat] CHECK CONSTRAINT [FK_KhenThuongKyLuat_NhanVienHanhChinh]
GO
ALTER TABLE [dbo].[KhenThuongKyLuat]  WITH CHECK ADD  CONSTRAINT [FK_KhenThuongKyLuat_NhanVienSanXuat] FOREIGN KEY([MaNVSX])
REFERENCES [dbo].[NhanVienSanXuat] ([MaNhanVien])
GO
ALTER TABLE [dbo].[KhenThuongKyLuat] CHECK CONSTRAINT [FK_KhenThuongKyLuat_NhanVienSanXuat]
GO
ALTER TABLE [dbo].[NghiPhep]  WITH CHECK ADD  CONSTRAINT [FK_NghiPhep_NhanVienHanhChinh] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVienHanhChinh] ([MaNhanVien])
GO
ALTER TABLE [dbo].[NghiPhep] CHECK CONSTRAINT [FK_NghiPhep_NhanVienHanhChinh]
GO
ALTER TABLE [dbo].[NhanVienHanhChinh]  WITH CHECK ADD  CONSTRAINT [FK_NhanVienHanhChinh_PhongBan] FOREIGN KEY([MaPhongBan])
REFERENCES [dbo].[PhongBan] ([MaPhongBan])
GO
ALTER TABLE [dbo].[NhanVienHanhChinh] CHECK CONSTRAINT [FK_NhanVienHanhChinh_PhongBan]
GO
ALTER TABLE [dbo].[NhanVienSanXuat]  WITH CHECK ADD  CONSTRAINT [FK_NhanVienSanXuat_ToSanXuat] FOREIGN KEY([MaTo])
REFERENCES [dbo].[ToSanXuat] ([MaTo])
GO
ALTER TABLE [dbo].[NhanVienSanXuat] CHECK CONSTRAINT [FK_NhanVienSanXuat_ToSanXuat]
GO
ALTER TABLE [dbo].[PhanCong]  WITH CHECK ADD  CONSTRAINT [FK_PhanCong_NhanVienSanXuat] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVienSanXuat] ([MaNhanVien])
GO
ALTER TABLE [dbo].[PhanCong] CHECK CONSTRAINT [FK_PhanCong_NhanVienSanXuat]
GO
ALTER TABLE [dbo].[PhanCong]  WITH CHECK ADD  CONSTRAINT [FK_PhanCong_QuyTrinh] FOREIGN KEY([MaQuyTrinh])
REFERENCES [dbo].[QuyTrinh] ([MaQuyTrinh])
GO
ALTER TABLE [dbo].[PhanCong] CHECK CONSTRAINT [FK_PhanCong_QuyTrinh]
GO
ALTER TABLE [dbo].[QuyTrinh]  WITH CHECK ADD  CONSTRAINT [FK_QuyTrinh_SanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[QuyTrinh] CHECK CONSTRAINT [FK_QuyTrinh_SanPham]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_NhanVienHanhChinh1] FOREIGN KEY([MaNVHC])
REFERENCES [dbo].[NhanVienHanhChinh] ([MaNhanVien])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_NhanVienHanhChinh1]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_NhanVienSanXuat1] FOREIGN KEY([MaNVSX])
REFERENCES [dbo].[NhanVienSanXuat] ([MaNhanVien])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_NhanVienSanXuat1]
GO
ALTER TABLE [dbo].[ToSanXuat]  WITH CHECK ADD  CONSTRAINT [FK_ToSanXuat_PhanXuong] FOREIGN KEY([MaPhanXuong])
REFERENCES [dbo].[PhanXuong] ([MaPhanXuong])
GO
ALTER TABLE [dbo].[ToSanXuat] CHECK CONSTRAINT [FK_ToSanXuat_PhanXuong]
GO
USE [master]
GO
